.body {
  padding: 0vh 8.33vh;
  background-color: #f9fafd;
  transition: background 1s;
}

.body.darkMode {
  background: #191f2b;

  transition: background 1s;
}


.table-wrapper {
  position: relative;
  background-color: white;
  transition: background 1s;
}

.table-wrapper.darkMode {
  background-color: #070b14;
  transition: background 1s;
}
.table-scroll {
  height: 68vh;
  overflow: auto;
}

@keyframes fadeIn {
  from {
    max-height: 0vh;
    opacity: 0;
  }
  to {
    opacity: 1;
    max-height: 9.2vh;
  }
}

.table-row:first-child {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.table-row {
  /* overflow: visible; */
  display: flex;
  /* max-height: 9.2vh; */
  height: 9.2vh;
  font-size: 1.84vh;
  text-overflow: ellipsis;
  color: #b3bfe2;
  align-items: center;
  vertical-align: middle;
  border-spacing: 0;
  margin-top: 0;
  /* margin: 0.5vh 0vh; */
  background-color: white;
  transition: color 1s;
  transition: background 1s;
}

.table-row.darkMode {
  color: white;
  background-color: #070b14;
  transition: color 1s;
  transition: background 1s;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3bfe2;
  border-radius: 5vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3bfe2;
  border-radius: 5vh;
}

.href {
  text-decoration: none;
  font-size: 2vh;
  text-overflow: ellipsis;
  color: #b3bfe2;
  padding: 2vh 0vh;
  transition: color 1s;
}

.href.darkMode {
  color: white;
  transition: color 1s;
}

.img {
  /* padding: 20px 0px; */
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  transition: box-shadow 1s;
}

.img.darkMode {
  box-shadow: 0vh 0vh 1px white;
  transition: box-shadow 1s;
}

.table-header {
  display: inline-flex;
  width: 100%;
  color: white;
  height: 9vh;
  align-items: center;
  vertical-align: middle;
  font-size: 2vh;
  font-weight: 600;
  background-color: #443c61;
  border-radius: 1.84vh 1.84vh 0vh 0vh;
  margin-top: 1.84vh;
  transition: background 1s;
  transition: color 1s;
}

.table-header.darkMode {
  background-color: #77859d;
  color: #191f2b;
  transition: background 1s;
  transition: color 1s;
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  to {
    transform: scale(0.6);
  }
  from {
    transform: scale(1);
  }
}

.liveIcon {
  margin: 0.92vh 0.92vh 0.92vh 0.95vh;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background-color: white;
  animation: circle 2s infinite;
  animation-direction: alternate;
  transition: background 1s;
}

.liveIcon.darkMode {
  background-color: #191f2b;
  transition: background 1s;
}

.liveText {
  font-size: 2.1vh;
  font-weight: bold;
  color: white;
  transform: color 1s;
}

.liveText.darkMode {
  color: #191f2b;
  transition: color 1s;
}
.LiveStatus {
  display: flex;
  align-items: center;
  height: 4vh;
  width: 12vh;
  background-color: #ff0707;
  box-shadow: inset;
  border-radius: 1.89vh;
}

.row {
  display: flex;
  align-items: center;
  padding-top: 1vh;
  /* height: 5vh; */
}

.recentTransactionText {
  font-size: 2.5vh;
  font-weight: 600;
  color: #443c61;
  margin: 0px;
}

.twitterButton {
  height: 5.55vh;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 5.55vh;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5vh #d5d8de;
  transition: color 1s;
}

.recentTransactionText.darkMode {
  color: #7e95b8;
  transition: color 1s;
}

.swapIcon {
  height: 3vh;
  width: 3vh;
  color: #443c61;
  transition: color 1s;
}

.circledSwapIcon {
  fill: #443c61;
  transition: fill 1s;
}
.circledSwapIcon.darkMode {
  fill: white;
  transition: fill 1s;
}

.swapIcon.darkMode {
  color: #7e95b8;
  transition: color 1s;
}

.twitterButton:hover {
  box-shadow: 0px 0px 2vh #1e96f8;
}
