.body {
  padding: 0px 90px;
}
/* 
table {
  border-collapse: separate;
  width: 100%;
  border-radius: 21px 21px 0px 0px;
  border-style: hidden;
  box-shadow: 0 0 5px #d5d8de;
  border-spacing: 0px;
  background-color: #443c61;
  margin-top: 26px;
  display: table;
} */

td,
th {
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  display: table-cell;
}

td {
  font-size: 24px;
  text-overflow: ellipsis;
  height: 100px;
  display: table-cell;
  color: #b3bfe2;
}

.table-wrapper {
  position: relative;
}
.table-scroll {
  height: 810px;
  overflow: auto;
}
.table-wrapper table {
  width: 100%;
  border-collapse: separate;
  margin: 0px 0px 0px 10px;
  border-style: hidden;
  border-spacing: 0px 20px;
}

@keyframes add {
  from {
    opacity: 0;
    transform: rotateY(0);
  }
  to {
    opacity: 1;
    transform: rotateY(1);
  }
}


tr:first-child {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
tr:hover {
  filter: drop-shadow(0 0 20px #d5d8de);
  /* box-shadow: 0px 0px 30px #d5d8de; */
}

.table-row:first{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.table-row{

}

.table-row:hover {
  filter: drop-shadow(0 0 20px #d5d8de);
}

.table-header {
  display: inline-flex;
  width: 100%;
  color: white;
  align-items: center;
  vertical-align: middle;
  height: 90px;
  font-size: 30px;
  font-weight: 600;
  background-color: #443c61;
  border-radius: 21px 21px 0px 0px;
  margin-top: 26px;
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  to {
    transform: scale(0.6);
  }
  from {
    transform: scale(1);
  }
}

.liveIcon {
  margin: 10px 10px 10px 16px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: white;
  animation: circle 2s infinite;
  animation-direction: alternate;
}
.LiveStatus {
  display: flex;
  align-items: center;
  height: 47px;
  width: 130px;
  background-color: #ff0707;
  box-shadow: inset;
  border-radius: 24px;
}

.row {
  display: flex;
  align-items: center;
  box-shadow: inset;
  margin-top: 15px;
}

.recentTransactionText {
  font-size: 36px;
  font-weight: 600;
  color: #443c61;
  margin: 0px;
}

.twitterButton {
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #d5d8de;
}

th {
  color: white;
  height: 90px;
  font-size: 30px;
  font-weight: 600;
}
