.header {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  padding-left: 7vh;
  padding-right: 10vh;
  background-color: #edf3ff;
  height: 15vh;
  box-shadow: inset;
  transition: background 1s;
}

.header.darkMode{
  background: #070B14;
  transition: background 1s;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #edf3ff;
}


.imageLogo {
  height: 15vh;
  width: 15vh;
}

.imageLogo.darkMode{
  filter: drop-shadow(0 0 2vh #FF0101);
  border-radius: 50%;
  transition: filter 1s;
}



.headerText {
  flex: 3;
  font-size: 5vh;
  font-weight: bold;
  /* align-self: start; */
  text-align: start;
  color: black;
  transition: color 1s;
}

.headerText.darkMode{
  color: white;
  transition: color 1s;
}
