.header {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  padding-left: 7vh;
  padding-right: 10vh;
  background-color: #edf3ff;
  height: 15vh;
  box-shadow: inset;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #edf3ff;
}

.btn {
  display: inline-block;
  background: transparent;
  color: #27A1FF;
  border: none;
  cursor: pointer;
  padding: 0vh 1vh;
  text-decoration: none;
  font-size: 3.2vh;
  font-weight: 600;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.image {
  height: 15vh;
  width: 15vh;
}

.btn-block {
  display: block;
  width: 100%;
}


.headerText {
  flex: 3;
  font-size: 5vh;
  font-weight: bold;
  /* align-self: start; */
  text-align: start;
  color: black;
}
